<script type="text/javascript">
    // Fungsi-fungsi berikut hanya untuk aplikasi Android
    
    function showAndroidSms()
    {
        if (typeof Android != "undefined" || Android != null)
        {
            Android.showSms();
        }
        else
        {
            alert("Object not found");
        }
    }

    function showAndroidToast(message)
    {
        if (typeof Android != "undefined" || Android != null)
        {
            Android.showToast(message);
        }
        else
        {
            alert("Object not found");
        }
    }
</script>

<script type="text/javascript">
    // Fungsi-fungsi berikut hanya untuk aplikasi Windows
    
    function showWindowsFontDialog()
    {
        var option =
        {
            "view": window,
            "bubbles": false,
            "cancelable": false,
            "data": ""
        };
        
        event = new MessageEvent("ShowFontDialog", option);
        document.dispatchEvent(event);
    }
    
    function showWindowsMessageBox(message)
    {
        var option =
        {
            "view": window,
            "bubbles": false,
            "cancelable": false,
            "data": message
        };
        
        event = new MessageEvent("ShowMessageBox", option);
        document.dispatchEvent(event);
    }
</script>

<nav class="navbar fixed-top shadow-sm navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
  <a href="index.html" class="navbar-brand ml-lg-3">
      <h1 class="m-0 display-5"><span class="text-primary">XREAC</span>TIVES</h1>
  </a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse px-lg-3" id="navbarCollapse">
      <div class="navbar-nav m-auto py-0">
          <a href="#home" class="nav-item nav-link active">Home</a>
          <a href="#about" class="nav-item nav-link">About</a>
          <a href="#qualification" class="nav-item nav-link">Quality</a>
          <a href="#skill" class="nav-item nav-link">Skill</a>
          
      </div>
      
  </div>
</nav>
<!-- Navbar End -->


<!-- Header Start -->
<div class="container-fluid bg-primary d-flex align-items-center mb-5 py-5" id="home" style="min-height: 100vh;">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-5 px-5 pl-lg-0 pb-5 pb-lg-0">
              <img class="img-fluid w-100 rounded-circle shadow-sm" src="assets/img/profile.jpg" alt="">
          </div>
          <div class="col-lg-7 text-center text-lg-left">
              <h3 class="text-white font-weight-normal mb-3">I'm</h3>
              <h1 class="display-3 text-uppercase text-primary mb-2" style="-webkit-text-stroke: 2px #ffffff;">RONNY</h1>
              <h1 class="typed-text-output d-inline font-weight-lighter text-white"></h1>
              <div class="typed-text d-none">Machine Learning Enginner, Data Analyst</div>
              <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                  
                <h5 class="font-weight-normal text-white m-0 ml-4 d-none d-sm-block">I Specialize in Machine Learning and Data Analyst. I Mainly Work Using Big Dataset From Kaggle</h5>
                <button onclick="alert('202102241 Ronny')">alert</button>
                <button onclick="showAndroidSms()">Show SMS</button>
                <button onclick="showAndroidToast()">Show Toast</button>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Header End -->


<!-- About Start -->
<div class="container-fluid py-5" id="about">
  <div class="container">
      <div class="position-relative d-flex align-items-center justify-content-center">
          <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">About</h1>
          <h1 class="position-absolute text-uppercase text-primary">About Me</h1>
      </div>
      <div class="row align-items-center">
          <div class="col-lg-5 pb-4 pb-lg-0">
              <img class="img-fluid rounded w-100" src="assets/img/about.jpg" alt="">
          </div>
          <div class="col-lg-7">
              <h3 class="mb-4">Machine Learning Engineer & Data Analyst</h3>
              <p>I am currently a student at STMIK Pontianak who is into data analytics and machine learning industry. I use Python programming language for projects that requires big dataset</p>
              <div class="row mb-3">
                  <div class="col-sm-6 py-2"><h6>Name: <span class="text-secondary">Ronny</span></h6></div>
                  <div class="col-sm-6 py-2"><h6>Birthday: <span class="text-secondary">29 March 2002</span></h6></div>
                  <div class="col-sm-6 py-2"><h6>Degree: <span class="text-secondary">Undergraduate</span></h6></div>
                  <div class="col-sm-6 py-2"><h6>Experience: <span class="text-secondary">Unexperienced</span></h6></div>
                  <div class="col-sm-6 py-2"><h6>Phone: <span class="text-secondary">+6285750004261</span></h6></div>
                  <div class="col-sm-6 py-2"><h6>Email: <span class="text-secondary">achuanronny@gmail.com</span></h6></div>
                  <div class="col-sm-6 py-2"><h6>Address: <span class="text-secondary">I'll leave it to your imagination</span></h6></div>
                  <div class="col-sm-6 py-2"><h6>Freelance: <span class="text-secondary">Available</span></h6></div>
              </div>
              
          </div>
      </div>
  </div>
</div>
<!-- About End -->


<!-- Qualification Start -->
<div class="container-fluid py-5" id="qualification">
  <div class="container">
      <div class="position-relative d-flex align-items-center justify-content-center">
          <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Quality</h1>
          <h1 class="position-absolute text-uppercase text-primary">Education</h1>
      </div>
      <div class="row align-items-center">
          <div class="col-lg-6">
              <h3 class="mb-4">My Education</h3>
              <div class="border-left border-primary pt-2 pl-4 ml-2">
                  <div class="position-relative mb-4">
                      <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                      <h5 class="font-weight-bold mb-1">Children's Playground</h5>
                      <p class="mb-2"><strong>TK Gembala Baik</strong> | <small>2006 - 2008</small></p>
                      
                  </div>
                  <div class="position-relative mb-4">
                      <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                      <h5 class="font-weight-bold mb-1">Elementary School</h5>
                      <p class="mb-2"><strong>SD Gembala Baik Plus</strong> | <small>2008 - 2014</small></p>
                      
                  </div>
                  <div class="position-relative mb-4">
                      <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                      <h5 class="font-weight-bold mb-1">Junior High School</h5>
                      <p class="mb-2"><strong>SMP Gembala Baik Plus</strong> | <small>2014 - 2017</small></p>
                      
                  </div>
                  <div class="position-relative mb-4">
                    <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                    <h5 class="font-weight-bold mb-1">Senior High School</h5>
                    <p class="mb-2"><strong>SMA Gembala Baik</strong> | <small>2017 - 2020</small></p>
                    
                </div>
                <div class="position-relative mb-4">
                  <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                  <h5 class="font-weight-bold mb-1">University</h5>
                  <p class="mb-2"><strong>STMIK Pontianak</strong> | <small>2020 - Now</small></p>
                  
              </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
<!-- Qualification End -->


<!-- Skill Start -->
<div class="container-fluid py-5" id="skill">
  <div class="container">
      <div class="position-relative d-flex align-items-center justify-content-center">
          <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Skills</h1>
          <h1 class="position-absolute text-uppercase text-primary">My Skills</h1>
      </div>
      <div class="row align-items-center">
          <div class="col-md-6">
              <div class="skill mb-4">
                  <div class="d-flex justify-content-between">
                      <h6 class="font-weight-bold">HTML</h6>
                      <h6 class="font-weight-bold">40%</h6>
                  </div>
                  <div class="progress">
                      <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
              <div class="skill mb-4">
                  <div class="d-flex justify-content-between">
                      <h6 class="font-weight-bold">CSS</h6>
                      <h6 class="font-weight-bold">40%</h6>
                  </div>
                  <div class="progress">
                      <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
              <div class="skill mb-4">
                  <div class="d-flex justify-content-between">
                      <h6 class="font-weight-bold">PHP</h6>
                      <h6 class="font-weight-bold">20%</h6>
                  </div>
                  <div class="progress">
                      <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="skill mb-4">
                  <div class="d-flex justify-content-between">
                      <h6 class="font-weight-bold">Python</h6>
                      <h6 class="font-weight-bold">80%</h6>
                  </div>
                  <div class="progress">
                      <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
              <div class="skill mb-4">
                  <div class="d-flex justify-content-between">
                      <h6 class="font-weight-bold">C++</h6>
                      <h6 class="font-weight-bold">50%</h6>
                  </div>
                  <div class="progress">
                      <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
              <div class="skill mb-4">
                  <div class="d-flex justify-content-between">
                      <h6 class="font-weight-bold">Deep Neural Network</h6>
                      <h6 class="font-weight-bold">60%</h6>
                  </div>
                  <div class="progress">
                      <div class="progress-bar bg-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Skill End -->





<!-- Testimonial Start -->



<!-- Footer Start -->
<div class="container-fluid bg-primary text-white mt-5 py-5 px-sm-3 px-md-5">
  <div class="container text-center py-5">
      <div class="d-flex justify-content-center mb-4">
          <a class="btn btn-light btn-social mr-2" href="https://github.com/Yreactives"><i class="fab fa-github"></i></a>
          
          <a class="btn btn-light btn-social mr-2" href="https://www.linkedin.com/in/ronny-stmikpontianak/"><i class="fab fa-linkedin-in"></i></a>
          <a class="btn btn-light btn-social" href="https://www.instagram.com/xreactives/"><i class="fab fa-instagram"></i></a>
          
      </div>
      
      <p class="m-0">&copy; <a class="text-white font-weight-bold" href="#">Ronny</a>. All Rights Reserved. Designed by <a class="text-white font-weight-bold" href="https://htmlcodex.com">HTML Codex</a>
      </p>
  </div>
</div>
<!-- Footer End -->

<!-- Scroll to Bottom -->
<i class="fa fa-2x fa-angle-down text-white scroll-to-bottom"></i>

<!-- Back to Top -->
<a href="#" class="btn btn-outline-dark px-0 back-to-top"><i class="fa fa-angle-double-up"></i></a>


